notebook
isort
tqdm
numpy
pandas
matplotlib
torch
torchvision
torchaudio
wheel
transformers
datasets
accelerate
bitsandbytes
peft
deepspeed
huggingface-hub[cli]
beautifulsoup4
selenium
trl
openai
vllm    ; python_version >= "3.11"
tensorboardX
jinja2

fastapi[standard]